<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- author -->
<meta name="author" content="{{ .Site.Author.name }}">

<!-- description -->
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if and .IsPage .Summary }}
<meta name="description" content="{{ .Summary }}">
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}

<!-- keywords -->
{{ if .Params.Tags }}
<meta name="keywords" content="{{ delimit .Params.Tags ", " }}">
{{ else }}
<meta name="keywords" content="{{ delimit .Site.Params.keywords ", "}}">
{{ end }}

<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Summary }}" />

<!-- permalink -->
<link rel="canonical" href="{{ .Permalink }}">

<!-- style -->
<link media="screen" rel="stylesheet" href='{{ "css/common.css" | absURL }}'>
<link media="screen" rel="stylesheet" href='{{ "css/content.css" | absURL }}'>
<link media="screen" rel="stylesheet" href='{{ "css/highlight.css" | absURL }}'>

<!-- site title -->
{{ if .IsHome }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

<!-- mathjax -->
{{ if .Site.Params.enable_mathjax }}
{{ partial "mathjax.html" . }}
{{ end }}
